{
  "id": -1,
  "implementationId": "{{implementation_id}}",
  "type": "{{type}}",
  "page": "{{title}}",
  "web": {{web}},
  "ios": {{ios}},
  "android": {{android}},
  "order": 1,
  "visible": true,
  "deleted": false
}
