{
  "name": "{{name}}",
  "description": "{{title}} {{type}}",
  "version": "0.0.0",
  "author": "",
  "private": true,
  "license": "MIT",
  "scripts": {
    "start": "react-scripts start",
    "build": "webpack --env build",
    "test": ""
  },
  "devDependencies": {
  },
  "dependencies": {
  }
}
