.summary {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  border-top: 1px solid #f0f3f5;
  > div {
    margin-bottom: 10px;
    > div:first-child {
      background-color: #f0f3f5;
      padding: 0 15px;
    }
    > div:nth-child(2) {
      > div > div {
        padding: 15px;
        span[class*="postCloseComponent"] {
          display: none;
        }
      }
    }
  }
  input{
    font-size: 13px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #788590;
  }
  .signature {
    align-items: flex-start;
    box-sizing: border-box;
  }
  .checkbox {
    display: flex;
  }
  .checkbox-label,
  .signature-label{
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54;
    letter-spacing: 0.5px;
    color: #3c4248;
    margin-bottom: 10px;
  }
  .field-multiplier {
    div[class*="_item"] {
      border-bottom: 1px solid #f0f3f5;
      padding-bottom: 20px;
      margin-bottom: 10px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}


