.forms-pager {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  .form-container {
    height: calc(100vh - 40px);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    > div {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      > .form-page {
        overflow-y: scroll;
        height: calc(100% - 40px);
        position: initial;
        margin: 40px 0;
        > div {
          padding: 10px 15px;
          max-width: 459px;
          margin: 0 auto;
          &:first-child {
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #f0f3f5;
            padding: 0 15px;
            color: #5f656b;
            font-size: 13px;
            font-weight: normal;
            line-height: 40px;
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            max-width: initial;
          }
          // &.field-select{
          //   &[class*="isReadOnly"] {
          //     .hoi-poi-select__indicators {
          //       display: none;
          //     }
          //   }
          // }
          &.field-checkbox {
            > span {
              width: 100%;
            }
            > div {
              width: 20px;
            }
            div[class*="postComponent"] {
              display: none !important;
            }
            div[class*="error"] {
              width: 120px;
              margin-left: -100px;
            }
          }
          &.field-textarea {
            > div::before  {
              border-bottom: 1px solid #dce3eb !important;
              textarea {
                border-radius: 0;
              }
            }
          }
          &.field-datePicker,
          &.field-timePicker,
          &.field-dateTimePicker {
            &[class*="errored"] {
              & div[class*="formControl"]::before {
                border-bottom: 1px solid #f04540;
                transform: scaleX(1);
                z-index: 1;
              }
            }
            div[class*="postComponent"] {
              position: absolute;
              right: 0;
            }
            input{
              font-size: 13px;
              font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
              line-height: 20px;
              letter-spacing: 0.5px;
              color: #788590;
            }
          }
          &.field-multiplier {
            max-width: initial;
            margin: initial;
            > div {
              &:nth-child(2) {
                justify-content: flex-end;
                width: auto;
              }
              > div {
                border-bottom: 1px solid #dce3eb;
                margin-bottom: 15px;
                padding-bottom: 15px;
                > div {
                  max-width: 459px;
                  margin: 0 auto;
                }
              }
            }
            input{
              font-size: 13px;
              font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
              line-height: 20px;
              letter-spacing: 0.5px;
              color: #788590;
            }
          }
          span[class*="postCloseComponent"] {
            width: 10px;
            height: 10px;
            > span {
              width: 10px;
              height: 10px;
            }
          }
          &[class*="isReadOnly"],
          .form-page > div[class*="isReadOnly"] {
            span[class*="postCloseComponent"] {
              width: 8px;
              height: 8px;
              > span {
                width: 8px;
                height: 8px;
                margin-right: 5px;
                div[class*="dropdown-indicator"] {
                  width: 8px;
                }
              }
            }
          }
          .form-page > div[class*="isReadOnly"] {
            .Mui-disabled {
              &:before {
                right: -15px;
              }
            }
          }
          .hoi-poi-select__indicators {
            padding-bottom: 10px;
            .hoi-poi-select__indicator {
              &.hoi-poi-select__clear-indicator {
                height: 10px;
                width: 10px;
                span {
                  height: 10px;
                  width: 10px;
                }
              }
              &.hoi-poi-select__indicator-separator {
                margin: 0px 10px;
              }
              &.hoi-poi-select__dropdown-indicator {
                height: 13px;
                width: 13px;
                span {
                  height: 13px;
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
    .signature-content-container{
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .summary {
        height: auto;
        overflow: unset;
        display: block;
        > div:nth-child(5) {
          > div:nth-child(2) {
            display: none;
          }
        }
        > div:nth-child(6),
        > div:nth-child(7) {
          display: none;
        }
      }
      .form-signature {
        padding: 0 15px;
        .form-page.signatures {
          > div[class*="header"] {
            display: none;
          }
        }
      }
      &.signed {
        .summary {
          > div:nth-child(5) {
            > div:nth-child(2) {
              display: block;
            }
          }
        }
      }
    }
  }
  .forms-pager-bar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    padding: 8px 0;
    justify-content: space-between;
    border-top: 1px solid #f0f3f5;
    background-color: #f0f3f5;
    .forms-pager-prev {
      margin-left: 20px;
      cursor: pointer;
      svg {
        transform: rotate(90deg)
      }
    }
    .forms-pager-number{
      color: #7a8792;
    }
    .forms-pager-finish{
      font-weight: bold;
      color: #7a8792;
      cursor: pointer;
    }
    .forms-pager-next{
      margin-right: 20px;
      cursor: pointer;
      svg {
        transform: rotate(-90deg)
      }
    }
  }
}


// body > div[class^="css-"] {
//   height: 100vh !important;
//   width: 100vw !important;
//   top: 0 !important;
//   left: 0 !important;
//   .hoi-poi-select__menu{
//     top: 0 !important;
//     margin: 0 !important;
//     height: 100%;
//     .hoi-poi-select__menu-list {
//       max-height: none;
//       height: 100vh;
//       > div {
//         max-height: none !important;
//         height: 100% !important;
//         > div {
//           max-height: none !important;
//         }
//       }
//       .hoi-poi-select__option {
//         padding: 20px;
//       }
//     }
//   }
// }
