{
  "id": {{id}},
  "name": "{{name}}",
  "type": "{{type}}",
  "widgetType": "{{widget_type}}",
  "widgetSubtype": {{widget_subtype}},
  "columns": {{columns}},
  "rows": {{rows}},
  "order": 1,
  "visible": true,
  "deleted": false,
  "description": "{{title}}",
  "title": "{{title}}",
  "titleBr": "{{title}}",
  "titleDk": "{{title}}",
  "titleRu": "{{title}}",
  "titleDe": "{{title}}",
  "titleEn": "{{title}}",
  "titleFr": "{{title}}",
  "titleIt": "{{title}}",
  "titlePt": "{{title}}",
  "titleUs": "{{title}}",
  "distFolder": "dist"
}
